<!doctype html>
<html lang="en">
<head>
    <title>Cometa Jobs &mdash; Registro</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon"  type="image/png"  href="../../assets/loginAssets/logos/cjLogoNegro.png" />
</head>
    

<body>
<div class="container">

    <div class="row">
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Datos de usuario</h4>

       <!--FORMULARIO-->
       <form #userEditForm="ngForm"  (ngSubmit)="onSubmit()" class="col-lg-10"> 
          <div class="row">

          <!--Nombre-->
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre completo:</label>
              <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" placeholder="Nombre completo"  required>
              <span class="text-danger" *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
            </div>

          <!--Login-->
            <div class="col-md-6 mb-3">
              <label for="username">Usuario:</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" name="login" #login="ngModel" [(ngModel)]="user.login" placeholder="Login" required>
                  <span class="text-danger" *ngIf="!login.valid && login.touched">El usuario es obligatorio</span>
              </div>
            </div>
          </div>


          <div class="row">
              <!--Contraseña-->
              <div class="col-md-6 mb-3" *ngIf="this.identity.acceso == '1'">
                <label for="firstName">Contraseña:</label>
                <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" value="">
                <span class="text-danger" *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
              </div>

              <!--Contraseña-->
              <div class="col-md-6 mb-3" *ngIf="this.identity.acceso != '1'">
                <label for="firstName">Contraseña:</label>
                <div class="alert alert-info" role="alert">
                  Solicita un cambio al administrador. <button class="btn btn-sm btn-info" [routerLink]="['/about']">⮞</button>
                </div>
              </div>

              <!--Ubicacion-->
              <div class="col-md-6 mb-3">
                  <label for="firstName">Biografia</label>
                  <textarea class="form-control d-block w-100" name="biografia" #biografia="ngModel" [(ngModel)]="user.biografia" required>
                  </textarea>
              </div>
          </div>



          <div class="row">
              <!--E-Mail-->
              <div class="col-md-6 mb-3">
                  <label for="email">E-Mail:</label>
                  <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email"
                   placeholder="email@example.com"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                   <span class="text-danger" *ngIf="!email.valid && email.touched">El correo no es correcto</span>
              </div>

              <!--Movil-->
              <div class="col-md-6 mb-3">
                  <label for="firstName">Numero de telefono:</label>
                  <input type="text" class="form-control" name="movil" #movil="ngModel" [(ngModel)]="user.movil" 
                  placeholder="Movil" pattern="[0-9]{9}" required>
                  <span class="text-danger" *ngIf="!movil.valid && movil.touched">El movil es obligatorio</span>
              </div>
          </div>



          <div class="row">
            <div class="col-md-5 mb-3">
              <!--Tipo de perfil-->
              <label for="country">Tipo de perfil:</label>
              <select class="custom-select d-block w-100" name="acceso" #acceso="ngModel" [(ngModel)]="user.acceso" required>
                <option value="3" >Candidato</option>
                <option value="2" >Empresa</option>
              </select>

            </div>

            <div *ngIf="user.imagen">
                <img src="{{url + 'get-image-user/' + user.imagen}}"  class="img-thumbnail" width="100" draggable="false">
            </div>
            <p>
                <label>Sube una foto de perfil: </label>
                <input type="file" name="imagen" (change)="fileChangeEvent($event)" placeholder="Seleccionar imagen" class="form-control">
            </p>
          </div>



          <hr class="mb-4">
          <!--Enviar form-->
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!userEditForm.form.valid">Actualizar</button>
          <hr class="mb-4">
        </form>
      </div>

      <!--MENSAJES-->
      <div class="alert alert-success" *ngIf="status === 'success'">
         Datos actualizados con exito
      </div>
      
      <div class="alert alert-danger" *ngIf="status === 'error'">
         Error al actualizar los datos
      </div>

    </div>
  </div>
  </body>
  </html>