<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1><span>E</span><span>R</span><span>R</span><span>o</span><span>R</span></h1>
        </div><br>
        <h5 class="text-left">Si has llegado hasta aqui es por alguna de las siguientes causas:<br> <br> 
            1. La pagina solicitada no existe.<br>
            2. No tienes permiso para acceder a este recurso.<br>
            3. Tu cuenta esta deshabilitada.
            </h5><br>
    </div>
</div>
