<!--SECCION INSCRIPCION-->
<h5>Mis inscripciones</h5>
<hr>
<div class="mb-5">

  <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3 sombra" >
      <div class="col-md-2">

          <a >
              <img src="" alt="Image" 
              class="img-thumbnail" width="130" draggable="false">
          </a>

          <a >
            <img src="../../assets/images/default.png" alt="Image"  
            class="img-thumbnail" width="130" draggable="false">
        </a>

      </div>
      <div class="col-md-4">
          <span class="badge px-2 py-1 mb-3" style="color:black;" >jornada</span>
          <h2><a href="job-single.html">titulo</a> </h2>
          <p class="meta">Publicado por: <strong>nombre</strong></p>
          <p class="meta">Fecha: <strong>fecha</strong></p>
      </div>
      <div class="col-md-3 text-left">
      <h3><span class="icon-map-marker"></span>&nbsp; ubicacion</h3>
      <span class="icon-globe"></span>&nbsp;<span class="meta"> España</span>
      </div>
      <div class="col-md-3 text-md-right">
          <strong class="text-black">suelto € &nbsp;</strong><br><br>
          <!-- DEPENDIENDO DEL USUARIO QUE SEA, TENDRA UNOS PERMISOS U OTROS SOBRE LA OFERTA DE TRABAJO-->
          <a ><button class="btn btn-primary">Eliminar inscripcion</button></a>
      
      </div>
  </div>

</div>