<!doctype html>
<html lang="en">
<head>
    <title>Cometa Jobs &mdash; Registro</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon"  type="image/png"  href="../../assets/loginAssets/logos/cjLogoNegro.png" />
</head>
    

<body >
<div class="container" >

    <div class="row">
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Nueva oferta</h4>
        <hr>

       <!--FORMULARIO-->
       <form #nuevaOfertaForm="ngForm"  (ngSubmit)="onSubmit(nuevaOfertaForm)" class="col-lg-10"> 
          <div class="row">


          <!--Empresa-->
          <div class="col-md-6 mb-3">
            <label for="empresa">Empresa que publica la oferta:</label>
            <select class="custom-select d-block w-100" name="empresa" #empresa="ngModel" [(ngModel)]="oferta.empresa" required>
                <option value="" ngSelectOption disabled>Selecciona una empresa</option>
                <option value="{{usuario._id}}" *ngFor="let usuario of usuarios">{{usuario.nombre}}</option>
              </select>
          </div>


          <!--Titulo-->
            <div class="col-md-6 mb-3">
              <label for="titulo">Titulo de la oferta:</label>
              <input type="text" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="oferta.titulo" placeholder="Titulo de la oferta"  required>
              <span class="text-danger" *ngIf="!titulo.valid && titulo.touched">El titulo es obligatorio</span>
            </div>


              <!--Descripcion-->
              <div class="col-md-6 mb-3">
                  <label for="descripcion">Descripcion:</label>
                  <textarea class="form-control d-block w-100" name="descripcion" #descripcion="ngModel" [(ngModel)]="oferta.descripcion" required>
                  </textarea>
              </div>
          </div>


          <div class="row">
              <!--Experiencia-->
              <div class="col-md-6 mb-3">
                  <label for="experiencia">Años de experiencia requerida:</label>
                  <input type="number" class="form-control" name="experiencia" #experiencia="ngModel" [(ngModel)]="oferta.experiencia"
                   placeholder="2" >
                   <span class="text-danger" *ngIf="!experiencia.valid && experiencia.touched">El correo no es correcto</span>
              </div>

              <!--Movil-->
              <div class="col-md-6 mb-3">
                  <label for="firstName">Salario mensual bruto:</label>
                  <input type="number" class="form-control" name="sueldo" #sueldo="ngModel" [(ngModel)]="oferta.sueldo" 
                  placeholder="1100"  required>
                  <span class="text-danger" *ngIf="!sueldo.valid && sueldo.touched">El sueldo es obligatorio</span>
              </div>
          </div>



          <div class="row">
            <div class="col-md-5 mb-3">
              <!--Tipo de perfil-->
              <label for="ubicacion">Ubicacion:</label>
              <select class="custom-select d-block w-100" [(ngModel)]="oferta.ubicacion" name="ubicacion" #ubicacion="ngModel" required>
                <option value="" ngSelectOption disabled>Selecciona una ubicacion</option>
                <ng-container *ngFor="let ubicacion of ubicaciones">
                  <option [ngValue]="ubicacion.ubicacion">{{ubicacion.ubicacion}}</option>
                </ng-container>
              </select>
            </div>

            <div class="col-md-5 mb-3">
                <!--Tipo de jornada-->
                <label for="jornada">Jornada:</label>
                <select class="custom-select d-block w-100" [(ngModel)]="oferta.jornada" name="jornada" #jornada="ngModel" required>
                  <option value="" ngSelectOption disabled>Selecciona una jornada</option>
                  <ng-container *ngFor="let jornada of jornadas">
                    <option [ngValue]="jornada._id">{{jornada.jornada}}</option>
                  </ng-container>
                </select>
  
              </div>
          </div>


          <hr class="mb-4">
          <!--Enviar form-->
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!nuevaOfertaForm.form.valid">Guardar</button>
          <hr class="mb-4">
        </form>
      </div>

      <!--MENSAJES-->
      <div class="alert alert-success" *ngIf="status === 'success'">
         Datos actualizados con exito
      </div>
      
      <div class="alert alert-danger" *ngIf="status === 'error'">
         Error al actualizar los datos
      </div>

    </div>
  </div>
  </body>
  </html>