<h1 class="mt-4">{{title}}</h1>
<hr>
<button class="btn btn-success btn-sm" (click)="agregarUsuario()">Agregar usuario</button>
<br><br>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Login</th>
        <th scope="col">Biografia</th>
        <th scope="col">Movil</th>
        <th scope="col">Email</th>
        <th scope="col">Acceso</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <img src="{{url + 'get-image-user/' + usuario.imagen}}" class="img-thumbnail" width="50" draggable="false" *ngIf="usuario.imagen">
          <img src="../../assets/images/defaultUser.jpg" class="img-thumbnail" width="50" draggable="false" *ngIf="!usuario.imagen">
        </td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.login}}</td>
        <td>{{usuario.biografia}}</td>
        <td>{{usuario.movil}}</td>
        <td>{{usuario.email}}</td>
        <td *ngIf="usuario.acceso == 0">Deshabilitado</td>
        <td *ngIf="usuario.acceso == 1">Administrador</td>
        <td *ngIf="usuario.acceso == 2">Empresa</td>
        <td *ngIf="usuario.acceso == 3">Candidato</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editarUsuario(usuario._id)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="getIdUsuario(usuario._id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="lanzar" style="display:none;">
  Lanzar modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Si eliminas a <span style="font-weight: bold;">{{elemento}}</span>, podria repercutir en los registros relacionados.
        <br>¿Estas seguro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="eliminar" (click)='deleteUsuario()'>Si</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar">No</button>
      </div>
    </div>
  </div>
</div>