<h1 class="mt-4">{{title}}</h1>
<hr>
<button class="btn btn-success btn-sm" (click)="agregarJornada()">Agregar jornada</button>
<br><br>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Jornada</th>
        <th scope="col">Color distintivo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jornada of jornadas">
        <td>{{jornada.jornada}}</td>
        <td [ngStyle]="{'background-color': jornada.color}">{{jornada.jornada}}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editarJornada(jornada._id)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="getIdJornada(jornada._id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="lanzar" style="display:none;">
  Lanzar modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Si eliminas a <span style="font-weight: bold;">{{elemento}}</span>, podria repercutir en los registros relacionados.
        <br>¿Estas seguro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="eliminar" (click)='deleteJornada()'>Si</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar">No</button>
      </div>
    </div>
  </div>
</div>