<section class="site-section" id="next-section">
    <div class="container"><br><br>
    <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
              <h2 class="section-title mb-2 ">Sobre Cometa Jobs</h2>
              <p class="lead">Ofertamos una plataforma online totalmente gratuita para que gente desempleada
                encuentre una oportunidad de trabajo adecua a sus estudios, ubicación y horario.
              </p>
          </div>
      </div>
      <hr>
      <div class="row">
        
        <div class="col-lg-6 mb-5 mb-lg-0">
        <h2>Contacta con nosotros</h2>
        <hr>
          <form  #mail="ngForm"  (ngSubmit)="onSubmit(mail)">
  
            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control" name="nombre" ngModel>
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Apellidos</label>
                <input type="text" id="apellidos" class="form-control" name="apellidos" ngModel>
              </div>
            </div>
  
  
            <div class="row form-group">
  
              <div class="col-md-12">
                <label class="text-black" for="asunto">Asunto</label>
                <input type="subject" id="asunto" class="form-control" name="asunto" ngModel>
              </div>
            </div>
  
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="mensaje">Mensaje</label>
                <textarea name="mensaje" id="mensaje" cols="30" rows="7" class="form-control"
                  placeholder="¡Cuéntanos con todo detalle!" ngModel></textarea>
              </div>
            </div>
  
            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Enviar" class="btn btn-primary btn-md text-white">
              </div>
            </div>


            <br><br>
            <span class="alert alert-success" *ngIf="this.status == 'success'">Responderemos lo antes posible. Gracias por su mensaje.</span>
            <span class="alert alert-danger"  *ngIf="this.status == 'error'">Vaya! No hemos podido enviar tu mensaje. Intentalo mas tarde</span>
  
  
          </form>
        </div>
        <div class="col-lg-5 ml-auto">
          <div class="p-4 mb-3 bg-white">
            <p class="mb-0 font-weight-bold">Dirección</p>
            <p class="mb-4">La Algaba, Sevilla (España)<br> CP: 41980</p>
  
            <p class="mb-0 font-weight-bold">Móvil</p>
            <p class="mb-4"><a href="tel:+34 603 76 87 03">+34 603 76 87 03</a></p>
  
            <p class="mb-0 font-weight-bold">Dirección de correo electrónico</p>
            <p class="mb-0"><a href="mailto:">jesusdm22@hotmail.com</a></p>
  
          </div>
        </div>
      </div>
    </div>
  </section>